@import "../../../../styles/vars.scss";

section{
    height:calc(100vh - 65px);
}

mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 1rem;
}

mat-sidenav {
    background-color: $secondary;
    color : $light-text;
    width: 25%;
}

mat-sidenav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url("../../../../assets/chat/bg1.jpg");
}